db.sqlite3
PIG_Grupo5/__pycache__/__init__.cpython-39.pyc
PIG_Grupo5/__pycache__/settings.cpython-39.pyc
PIG_Grupo5/__pycache__/urls.cpython-39.pyc
PIG_Grupo5/__pycache__/wsgi.cpython-39.pyc
productos/__pycache__/__init__.cpython-39.pyc
productos/__pycache__/admin.cpython-39.pyc
productos/__pycache__/apps.cpython-39.pyc
productos/__pycache__/models.cpython-39.pyc
productos/__pycache__/urls.cpython-39.pyc
productos/__pycache__/views.cpython-39.pyc
productos/migrations/__pycache__/__init__.cpython-39.pyc
usuarios/__pycache__/__init__.cpython-39.pyc
usuarios/__pycache__/admin.cpython-39.pyc
usuarios/__pycache__/apps.cpython-39.pyc
usuarios/__pycache__/models.cpython-39.pyc
usuarios/__pycache__/urls.cpython-39.pyc
usuarios/__pycache__/views.cpython-39.pyc
usuarios/migrations/__pycache__/__init__.cpython-39.pyc
productos/__pycache__/forms.cpython-39.pyc
.vscode/settings.json
.env
__pycache__
.vscode/
