{% extends 'usuarios\base_usuarios.html' %}

{% block titulo %}Editar usuario{% endblock titulo %}

{% block contenido %}
<div class="row justify-content-center mt-4 mb-4" style="width: 100%";>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h1 class="text-center">Usuario</h1>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    <div class="card-body">
                        <div class="form-group">
                            <form id="editar_usuario" name="editar_usuario" action="{% url 'editar_usuario' id_user %}"
                                method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    {% for campo in form %}
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">{{ campo.label }}</label>
                                            {{campo}}
                                        </div>
                                        <span class="error">{{campo.errors}}</span>
                                    </div>
                                    {% endfor %}
                                </div>

                                <button type="submit" class="btn btn-secondary btn-block">Guardar</button>
                            </form>
                            {% load static %}
                            <a class="a-elim-user" href="{% url 'eliminar_usuario' id_user %}"><img class="img-edit" src="{%static '\img\trash.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}