
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="description" content="">
    <meta name="author" content="Grupo 5">

    <!--Actualizar el documento cada 30 segundos:-->
    <!--<meta http-equiv="refresh" content="30">-->

    <!--Configuración de la ventana gráfica para que su sitio web se vea bien en todos los dispositivos:-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static '\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\css\style.css' %}">
    <title>{% block titulo %} {% endblock titulo %}</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top header py-3">
        <div class="container-fluid">
            <!--img class= "navbar-brand logo" src="img/logo_slim_header.png" alt=""-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    {% block navSuperior %}{% endblock navSuperior %}
                    <li class="nav-item nav-superior">
                    {% if user.is_authenticated %}
                    <span class="text-light">Bienvenido, {{ user.username }} | <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Cerrar sesión</a> </span>
                    {% else %}
                    {% endif %}
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top: 10vh">
    {% block body %} {% endblock body %}
    </div>


<footer class="bg-dark text-light py-3 sticky-bottom mt-auto">
    <div class="container text-center">
        <p>Grupo 5 &copy 2023<br>
        <a href="">Ayuda</a>
        </p>
    </div>
</footer>
</body>